@page "/"

<PageTitle>Resume Management Application</PageTitle>

<h1>Resume Management Application</h1>

Welcome! You are free to navigate to the categories above.
You can add, edit or delete candidates and degrees, upload resumes and keep track of everything.