<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ResumeManagementApplication</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candidates">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Candidates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addCandidate">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Candidate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="editCandidate">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Edit Candidate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="degrees">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Degrees
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addDegree">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Degree
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="editDegree">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Edit Degree
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
